<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobin.devchild">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <permission
        android:name="android.permission.BLUETOOTH"
        android:label="BLUETOOTH" />
    <permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register" />
        <activity android:name=".Gameanim1" />
        <activity android:name=".ParentData" />
        <activity android:name=".ChildGameOptions" />
        <activity android:name=".BluetoothHandle" />
        <activity android:name=".ChildParentOption" />
        <activity android:name=".Gameanim2" />
        <activity android:name=".Gameanim3" />
        <activity android:name=".Retrieve" />
        <activity android:name=".Animation" />
        <activity android:name=".Game1Finished" />
        <activity android:name=".Game3Finished" />
        <activity android:name=".Gameanim31" />
        <activity android:name=".PuzzleGameFinished" />
        <activity
            android:name=".MultiSequence"
            android:label="@string/title_activity_multi_sequence" />
        <activity android:name=".Gameanim32"></activity>
    </application>

</manifest>